@import url('https://fonts.googleapis.com/css2?family=Allura&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.error {
  color: red;
}

@media print {
  button, .no-print {
      display: none;
  }
  body {
    margin: 0;
    padding: 0;
  }

  /* Set page size for A4 paper */
  @page {
      size: A4;
      margin: 20mm;
  }

  /* Ensure the chart canvas adjusts to fit the width of the page */
  canvas {
      width: 100% !important;
      height: auto !important;  /* Let the height adjust dynamically based on width */
  }
  /* Adjust layout, fonts, etc. for print */
}

/* Make the charts full width */
.chart-container {
  width: 100%;
  height: auto; /* Adjust height to maintain aspect ratio */
}

/* Hide elements that are not needed in print */
.no-print {
  display: none;
}

/* Adjust margins and padding if necessary */
body {
  margin: 0;
  padding: 0;
}

